
html{
    overflow: hidden;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > img {
    height: 100%;
    width: 100%;
}

main{
    position: absolute;
    height: 80vh;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(7px);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    display: grid;
    grid-template-columns: 30% 60%;
    align-items: center;
    justify-content: space-evenly;
}

nav{
    height: 80%;
    width: 100%;
    background: white;
    box-shadow: -2px 2px 15px rgb(119, 119, 119);
    border-radius: 5px;
}

.section1{
    border-radius: 5px;
    height: 80%;
    width:  100%;
    background: white;
    box-shadow: -2px 2px 15px rgb(119, 119, 119);
    overflow:hidden; 
    text-align: center;
}

article{
    margin: 20px;
    background: #ced4da;
    width: 80%;
    height: 20%;
    display: inline-block;
    box-shadow: -2px 2px 15px rgb(119, 119, 119);
}

/*  -=-=-=-=-
     Scroll 
    -=-=-=-=- */

section{
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background: linear-gradient(to bottom, #a01a58 ,#723c70 ) ;
}