
html{
    overflow: hidden;
}

body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > img {
    height: 100%;
    width: 100%;
}

main{
    position: absolute;
    height: 80vh;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(7px);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    display: grid;
    grid-template-columns: 30% 60%;
    align-items: center;
    justify-content: space-evenly;
}

nav{
    height: 80%;
    width: 100%;
    background: white;
    box-shadow: -1px 1px 10px rgba(171, 171, 171);
    border-radius: 5px;
}

.section1{
    border-radius: 5px;
    height: 80%;
    width:  100%;
    background: white;
    box-shadow: -1px 1px 10px rgba(171,171,171);

}